.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  color: white;
  font-size: 0.9rem;
}

.avatar-small {
  width: 32px;
  height: 32px;
  font-size: 0.7rem;
}

.avatar-medium {
  width: 48px;
  height: 48px;
  font-size: 0.9rem;
}

.avatar-large {
  width: 64px;
  height: 64px;
  font-size: 1.2rem;
}
