.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #2d7a6a;
  animation: spin 1s linear infinite;
}

.spinner-small {
  width: 20px;
  height: 20px;
}

.spinner-medium {
  width: 40px;
  height: 40px;
}

.spinner-large {
  width: 60px;
  height: 60px;
}

.spinner svg {
  display: block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
